<div style="height: 6rem; background: #5f98f4"></div>
<div
    class="container-fluid d-flex justify-content-center"
    style="background: #5f98f4"
>
    <div
        class="card col-sm-6"
        style="background: #5f98f4; border: none; font-family: NotoSansLao"
    >
        <div class="card-title text-center text-white">
            <hr style="height: 5px" />
            <h2>ຂໍອະໄພໃນຄວາມບໍສະດວກເວັບໄຊລຍັງບໍ່ທັນໃຫ້ເປີດບໍລິການ</h2>
            <hr style="height: 5px" />
        </div>
    </div>
</div>
