<nav
    class="navbar navbar-expand-lg navbar-light navbar-default navbr-fixed-top iphone5"
>
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <div class="d-flex align-items-center">
                <div>
                    <img
                        height="110"
                        width="auto"
                        src="assets/images/newlogosmall.jpeg"
                    />
                </div>
                <div class="Text1 text-dark">
                    ລະບົບລົງທະບຽນລ່ວງຫນ້າສຳລັບການ<br />ຮັບວັກຊິນກັນພະຍາດໂຄວິດ
                </div>
            </div>
        </a>
    </div>

    <button
        class="Toggle1 navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="Toggle2 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav my-2 my-lg-0 mx-2 mx-lg-5">
            <li class="nav-item">
                <a class="nav-link page-scroll" routerLink="/register"
                    >ລົງທະບຽນ/Register</a
                >
            </li>
            <div style="width: 50px"></div>
            <li class="nav-item">
                <a class="nav-link page-scroll" routerLink="/search"
                    >ຄົ້ນຫາ/Search</a
                >
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<footer class="footer pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="align-items-center text-white">
                <div class="Text2">
                    <p>ຜູ້ສະໜັບສະໜູນ:</p>
                </div>
            </div>
            <div class="Logos row bg-light align-items-center">
                <div class="Text col-sm-4 col-md-2 mt-2">
                    <img class="icon" src="assets/images/Petro_trade.png" />
                </div>
                <div class="Text col-sm-4 col-md-2 mt-2">
                    <img
                        class="icon"
                        src="assets/images/kanya_mitthapharp.png"
                    />
                </div>
                <div class="Text col-sm-4 col-md-2 mt-2">
                    <img class="icon" src="assets/images/smart_tech.png" />
                </div>
                <div class="Text col-sm-4 col-md-2 mt-2">
                    <img class="icon" src="assets/images/khompunya.png" />
                </div>
            </div>
        </div>
    </div>
</footer>
